html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas
{
	height: 1000px;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

#search-panel
{
	position: absolute;
	width: 300px;
	background-color: #0ff;
	z-index: 5;
}

.wikipedia-container
{
	position: absolute;
	width: 300px;
	background-color: #0ff;
	z-index: 5;
}
